/Advanced.ipynb
/archive
/build
/dist
/employee_data.csv
/Expense-Tracker-Python-main
/exporting.csv
/import random.py
/Old Codes
/projectsokrio.ipynb
/python
/salary_tools.py
/salary_tracker.py
/salary_tracker.spec
/SampleData.csv
/Shop Cart.py
/sokrio_Data_Analytic.xlsx
/sokrio_technologies.pptx
/tuple_list.py
/Untitled-1.ipynb